#main-navbar{
	background-color: blue;
	overflow: hidden;
	position: relative;
	width: 100%;
 }
 
#navbar-container{
	float: left;
	left: 50%;
	position: relative;
	display:block;
}

#navbar-container ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	right: 50%;
	float: left;
}

#navbar-container ul li{
	float: left;
	padding: 10px 20px;
	background-color: #000;
}

#navbar-container ul li a{
	color: #fff;
	text-decoration: overline;
}

#sidebar{
	background-color: red;
	position: fixed;
	right: 0%;
	height: 100%;
	width: 20%;
}

#sidebar-container{
	display: block;
	text-align: center;
}

#sidebar-container ul{
	list-style-type: none;
	padding: 0%;
}

#sidebar-container ul li{
	background-color: #000;
	padding: 15px 0;
}

#sidebar-container ul li a{
	color: #fff;
	text-decoration: none;
}
